.navigation {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: black;;
    color: white;
    text-decoration: none;
    
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    color: rgb(182, 247, 182);
}

.menu li {
    padding: 1rem;
    color: green;
}

.navigation a{
    font-size: 1rem; 
    color: rgb(101, 180, 101);
    text-decoration: none;
}
.mobile_btn {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.mobile_btn:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }

  .mobile_btn:active {
    transform: translateY(2px);
    transition-duration: .35s;
  }

  .mobile_btn:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
  }
  
@media screen and (max-width: 600px) {
    .mobile_btn {
        display:block;
        position: absolute;
        right: 1rem;
        cursor: pointer;
        z-index: 10;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        left: -100%;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100vph;
        background-color: #f8f8f8;
        z-index: 10;
        transition: left 1s;
    }
    .active {
        left:0;
    }
}

.navigation a {
    font-size: 1.5rem;
}